@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.list-group-item {
  font-size: 16px;
  font-weight: 600;
}

.bg-dark-1 {
  background: #6e7c7c;
}

.weather-items .list-group-item {
  background: #435560;
  color:#f7f6e7;
}

body {
  background: #aaaaaa;
  font-family: 'Roboto', sans-serif;
}
