body{
  /* background: #f4f5db; */
  background: #c7cfb7;
}
.example-parent {
  /* border: 2px solid #DFA612; */
  border: 2px solid #557174;
  color: black;
  display: flex;
  font-family: sans-serif;
  font-weight: bold;
  min-height: 125px;
}

.example-origin {
  flex-basis: 100%;
  flex-grow: 1;
  padding: 10px;
}

.example-draggable {
  /* background-color: #4AAE9B; */
  background-color:#709fb0;
  font-weight: normal;
  /* margin-bottom: 10px; */
  /* margin-top: 10px; */
  margin: 25px 100px 25px 100px;
  padding: 10px;
  min-height: 50px;
}

.example-draggable-alter {
  /* background-color: #f25287; */
  background-color: #e97878;

  font-weight: normal;
  /* margin-bottom: 10px; */
  /* margin-top: 10px; */
  margin: 25px 100px 25px 100px;
  padding: 10px;
  min-height: 50px;
}

.example-dropzone {
  background-color: #6DB65B;
  flex-basis: 100%;
  flex-grow: 1;
  padding: 10px;
}
#game-winner{
  margin-top: 0;
  text-align: center;
}
