@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

body {
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 16px;
  background-color: #61122f;
  color:#fff;
}

#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}

#logo-img {
  background: url("img/40626.jpg") no-repeat;
  background-position: center;
  width:100px;
  height: 100px;
  margin:10px 15px 10px 0;
}

img {
  width:100%;
  height:auto;
}

.row {
  margin-bottom: 15px;
}

.row > div {
  border:2px solid red;
  background-color:gray;
}

.nav-link {
  font-size:22px;
  font-weight:900;
}

@@media (min-width:768px) {


.navbar-nav {
  float:right;
  /* align-items: right; */
  /* text-align: right; */
}

/* #navbarSupportedContent > ul > li > a {
  text-align: right;
}
.nav-item {
  text-align:right;
} */


}
